<div>
    <div class="d-flex justify-content-center py-5"><h1>The Shawshank Redemption</h1></div>
    <div class="container">
        <div class="row">
            <div class="column1" style="background-color:#aaa;">
              <img src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg" alt="">
            </div>
            <div class="column2" style="background-color:#bbb;">
              <h2>Column 2</h2>
              <p>Some text..</p>
            </div>
          </div>
    </div>
</div>