<div class="background">
    <div class="row">
        <div class="col-sm-3 col-md-6 d-flex justify-content-center py-5">
            <img src="/assets/images/img_avatar.png" style="width:50%;" alt="">
        </div>
        <div class="col-sm-9 col-md-6" style="padding-top:10% ;">
            <dl class="row">
                <dt class="col-sm-6">Name</dt>
                <dd class="col-sm-6">{{fullname}}</dd>
                <dt class="col-sm-6">E-mail</dt>
                <dd class="col-sm-6">{{email}}</dd>
                <dt class="col-sm-6">Contact</dt>
                <dd class="col-sm-6">{{contact}}</dd>
                <dt class="col-sm-6">Address</dt>
                <dd class="col-sm-6">{{address}}</dd>
            </dl>
           
        </div>
    </div>
</div>