<div class="home">
    <img src="/assets/images/home-background.jpg" alt="">
    <div class="centered">
       <div class="d-flex justify-content-center"><p class="display-2">Cineflicks</p></div>
        <form class="d-flex" (ngSubmit)="Searching()" [formGroup]="Search">
          <input class="form-control me-2" type="search" placeholder="Search" formControlName="search" aria-label="Search">
          <button class="btn btn-success" type="submit" >Search</button>
        </form>
       </div>
    <div>
        <div class="d-flex justify-content-center"><p class="display-6 py-5"> Unlimited Movies and web series</p></div>
        <!-- <p>Value: {{ search.value }}</p> -->
</div>

    <div class="container">
        <div class="row">
            <div class="column " *ngFor="let i of movies['Search']">
              <div class="card">
                <img [src]="i.Poster" alt="" class="card-img-top">
                <h3>{{i.Title}}</h3>
                <h5>{{i.imdbID}}</h5>
                <p>{{i.Year}}</p>
                <p >{{i.imdbID}}</p>
                <a [routerLink]="['/single',i.imdbID]" class="stretched-link"></a>
              </div>
             
            </div>
          
          </div>
    </div>
</div>

<!-- https://www.omdbapi.com/?s=Avengers&apikey=8a9d34c9 -->