<div class="home">
    <!-- <img src="https://wallpaperaccess.com/full/1512217.jpg" alt=""> -->
    <img src="/assets/images/home-background.jpg" alt="">
    <div class="centered">
       <div class="d-flex justify-content-center"><p class="display-2">Cineflicks</p></div>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>

    <div>
        <div class="d-flex justify-content-center"><p class="display-6 py-5"> Unlimited Movies and web series</p></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg" class="card-img-top" alt="...">
                <h3>The Shawshank Redemption</h3>
                <p>Some text</p>
                <p>Some text</p>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <h3>Card 2</h3>
                <p>Some text</p>
                <p>Some text</p>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <h3>Card 3</h3>
                <p>Some text</p>
                <p>Some text</p>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
              </div>
            </div>
          </div>
    </div>
</div>